{% extends 'base.html' %}

{% block content %}
<div class="w3-panel w3-center">
    <h1><b>Purchase</b></h1>
</div>

<div class="w3-container w3-margin">
    <h2>Receipt # {{ receipt_no }}</h2>
    <table class="w3-table-all w3-card-4">
        <tr>
            <th>Product Serial</th>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item['qr_code'] }}</td>
            <td>{{ item['item_name'] }}</td>
            <td>{{ item['price'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if total_amount %}
<div class="w3-panel w3-center">
    <h2>Total Amount Paid: ${{ total_amount }}</h2>
</div>
{% endif %}

<div class="w3-panel w3-center">
    <a href="{{ url_for('customer.history') }}" class="w3-button w3-cyan">Back to History</a>
</div>
{% endblock %}