{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <input type="radio" id="customer" name="usertype" value="customer" required>
    <label for="customer">Customer</label><br>

    <input type="radio" id="cashier" name="usertype" value="cashier" >
    <label for="cashier">Cashier</label><br>

    <input type="radio" id="admin" name="usertype" value="admin" >
    <label for="admin">Admin</label>

    <input type="submit" value="Register">
  </form>
{% endblock %}